.example-card {
    width: 400px;
    height: 100%;
    background-color: #393E46;
    border-radius: 15px;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}
.header {
  grid-row: 1 / 2;
}

mat-card-content {
  grid-row:3 / 4;
  overflow: auto;
}


.example-button-container {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  grid-row: 5 / 6;
}

img {
  padding: 10px;
  border-radius: 30px;
  width: 400px;
  height: 400px;
}

button {
  background-color: #00ADB5;
}

.mat-mdc-chip-set-stacked {
  display: flex;
  flex-flow: column wrap;
}

.chipElement {
  background-color: #00ADB5 !important;
  color: #EEEEEE !important;
}

.cardTitle {
  color: #EEEEEE !important;
}

.cardSubtitle {
  color: #EEEEEE !important;
}

.drinkInstruction {
  color: #EEEEEE;
  font-size: large;
}


mat-card-footer {
  display: flex;
  justify-content: space-around;
  grid-row: 6 / 7;
}

mat-progress-bar {
  margin-top: auto;
  border-radius: 15px;
  width: 96%;
  height: 5px;
}