<mat-card class="example-card">
  <mat-card-header class="header">
    <mat-card-title class="cardSubtitle">{{name}}</mat-card-title>
    <mat-card-subtitle class="cardSubtitle">{{id}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image *ngIf="!shouldShowInfo" src="{{imgSrc}}" alt="Photo of {{name}}">
  <mat-card-content >
    <p class="drinkInstruction" *ngIf="shouldShowInfo">{{drinkInfo}}</p>
    <mat-chip-listbox class="mat-mdc-chip-set-stacked" *ngIf="shouldShowInfo">
      <mat-chip class="chipElement" *ngFor="let ingredient of drinkIngredients">
        {{ingredient}}
      </mat-chip>
    </mat-chip-listbox>
  </mat-card-content>
  <mat-card-actions>
    <div class="example-button-container" >
      <button class="infoButton" *ngIf="!shouldShowInfo" mat-fab aria-label="SHOW INSTRUCTIONS" (click)="onInfoClicked()">
        <mat-icon>info</mat-icon>
      </button>
    </div>
    <div class="example-button-container" >
      <button *ngIf="drinkInfo && shouldShowInfo" mat-fab aria-label="GO BACK" (click)="onBackClicked()">
        <mat-icon>undo icon</mat-icon>
      </button>
    </div>
  </mat-card-actions>
  <mat-card-footer *ngIf="!drinkInfo && shouldShowInfo">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>
