<ng-container *ngIf="info else loader">
  <div class="drinkPage">
    <div class="drinkHeader">
      <h1>{{info!.name}}</h1>
      <h2>{{info!.id}}</h2>
      <h3>{{info!.alcoholic}}</h3>
    </div>
    <div class="drinkContent">
      <p>Description: <br> {{info!.description}}</p>
      <ng-container>
        <p>Ingredients:</p>
        <ul>
          <li *ngFor="let ingredient of info!.ingredients">
            {{ingredient.name}}: {{ingredient.measure}}
          </li>
        </ul>
      </ng-container>
      <p>Instruction: <br> {{info!.instructions}}</p>
      <img src="{{info!.image}}" alt="immagine di {{info!.name}}">
      <button class="goBackButton" mat-fab (click)="onGoBackClicked()">
        <mat-icon>home icon</mat-icon>
      </button>
    </div>
  </div>
</ng-container>

<ng-template #loader>
  <div class="fullScreenLoading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
