.example-card {
  width: 400px;
  height: 550px;
  background-color: #393E46;
  border-radius: 15px;
  display: grid;
  grid-template-rows: auto auto auto auto auto;
}

.header {
  grid-row: 1 / 2;
}

mat-card-content {
  grid-row: 3 / 4;
  overflow: auto;
}

mat-card-content::-webkit-scrollbar {
  width: 20px;
}

mat-card-content::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #393E46;
  border-radius: 10px;
}

mat-card-content::-webkit-scrollbar-thumb {
  background: #00ADB5;
  border-radius: 10px;
}

.example-button-container {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  grid-row: 5 / 6;
}

img {
  padding: 10px;
  border-radius: 30px;
  width: 400px;
  height: 400px;
}

button {
  background-color: #00ADB5;
  margin: 0 5px;
}

.mat-mdc-chip-set-stacked {
  display: flex;
  flex-flow: column wrap;
}

.chipElement {
  background-color: #00ADB5 !important;
  color: #EEEEEE !important;
}

.vertical-chip-list {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  color: #EEEEEE !important;
}

.cardSubtitle {
  color: #EEEEEE !important;
}

.drinkInstruction {
  color: #EEEEEE;
  font-size: large;
}


mat-card-footer {
  display: flex;
  justify-content: space-around;
  grid-row: 6 / 7;
}

mat-progress-bar {
  margin-top: auto;
  border-radius: 15px;
  width: 96%;
  height: 5px;
}

.flexButton {
  display: flex;
  flex-direction: row;
}
