<div class="bodyDiv">
  <h1>Cocktail DB</h1>

  <div class="flexContainer">
    <ng-container *ngFor="let drink of drinks">
      <kno-drink-page-card [id]="drink.idDrink" [imgSrc]="drink.strDrinkThumb" [name]="drink.strDrink"
        [status]="openCardId === drink.idDrink? 'info' : 'default' " [info]="(currentCardInfo$ | async) "
        (changeStatus)="onCardChangeStatus(drink.idDrink, $event)">
      </kno-drink-page-card>
    </ng-container>
  </div>
  <mat-paginator #drinkCardPaginator [length]="drinks?.length ?? 0" [pageSize]="currentPageSize"
    [pageSizeOptions]="pageSizeOptions" aria-label="Select page" (page)="OnPageChange($event)">
  </mat-paginator>

</div>
